body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    background-color: #ffffff; 
    color: #222222;
    margin: 0px;
}
#contentTable{
    border: 0px;
    border-collapse: collapse;
    margin: 0%;
    border-spacing: 0px;
    width: 100%;
}
/*header*/
#header{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#logoCont{
    position: relative;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
#myLogo{
    width: 100%;
}

/*content*/
.container1, .menuHalves, .customHalves{
    position: relative;
    width: 50%;
    display: inline-block;
    font-size: 0px;
    vertical-align: top;
}
#menuPanel, #textPanel{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#textPanel{
    overflow: auto;
}
.buttonContainer1, .buttonContainer2{
    position: relative;
    display: inline-block;
}
#craftsmenCont, #galleryCont, #aboutUsCont{
    position: relative;
    margin: 5px;
    overflow: hidden;
    cursor: pointer;
}
#craftsmenPic, #galleryPic, #aboutUsPic{
    position: relative;
    width: 100%;
}
.buttonTextCont{
    position: absolute;
    text-align: center;
    z-index: -100;
}
.buttonText{
    margin: 0px;
    padding: 0px;
}
/*bottom*/
#container2{
    margin-top: 2%;
}
#actionButtonCont0, #actionButtonCont1{
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.actionButton{
    position: relative;
    width: 33.3%;
}
#getStartedPic{
    left: 33.3%;
}
#customTalkPic{
    display: inline-block;
    left: 0px;
}
#checkoutPic{
    display: inline-block;
    left: 33%;
}
#footer {
    background-color: #dddddd;
    margin-top: 50px;
}
div.footerBlock ul li{
    list-style: none;
    padding: 2px;
    font-size: 12px;
}
div.footerBlock{
    margin: 5px;
    border: none;
    display: inline-block;
    vertical-align: top;
}

#generalOptionsList li{
    list-style-image: url(images/listArrow1.png);
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
.specificOptionPic{
    float: left;
    margin: 3px;
}
.specificOptionPic p{
    text-align: center;
    padding: 1px;
    margin: 0px;
    font-size: 10px;
}
#specificOptions{
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}